﻿
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<AfrokaryaTicaret.Models.Kategori>

<section class="panel">
    <header class="panel-heading">
        Kategoriler
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <br />
            <div class="clearfix">
                <div class="btn-group">
                    <a href="/Admin/KategoriEkle" class="btn btn-success">
                        Yeni Kategori <i class="icon-plus"></i>
                    </a>
                </div>
            </div>
            <br />
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Açıklama </th>       
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Kategori in Model)
                    {
                        <tr class="">
                            <td>@Kategori.Adi</td>
                            <td>@Kategori.Aciklama</td>                           
                            <td>
                                <a class="delete" href="/Admin/KategoriResimEkle/@Kategori.id">
                                    <i class="icon-eye-open"></i>
                                </a>
                            </td>
                           
                            <td>
                                <a class="edit" href="/Admin/KategoriGuncelle/@Kategori.id">
                                    <i class="icon-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a class="delete" href="/Admin/KategoriSil/@Kategori.id">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</section>
