﻿
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<AfrokaryaTicaret.Models.Kategori>
           <br/><br/><br/><br/>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Kategori Ekle
            </header>
            <div class="panel-body">
                <form action="/Admin/KategoriEkle" class="form-horizontal tasi-form" >
                    
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Kategori Adı:</label>
                        <div class="col-sm-10">
                            <input type="text" name="Adi" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Açıklama </label>
                        <div class="col-sm-10">
                            <input type="text" name="Aciklama" class="form-control">
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-md-3">Kategori Resmi:</label>
                        <div class="controls col-md-9">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-white btn-file">
                                    <span class="fileupload-new"><i class="icon-paper-clip"></i> Resim Seç</span>
                                    <input type="file" class="default" name="fileUpload" />
                                </span>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


