﻿
@{
    ViewBag.Title = "Özellik Tip Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<AfrokaryaTicaret.Models.Kategori>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
               Özellik Ekle
            </header>
            <div class="panel-body">
                <form action="/Admin/OzellikTipEkle" class="form-horizontal tasi-form">

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Özellik Adı:</label>
                        <div class="col-sm-10">
                            <input type="text" name="Adi" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Açıklama </label>
                        <div class="col-sm-10">
                            <input type="text" name="Aciklama" class="form-control">
                        </div>
                    </div>
                    <select class="form-control m-bot15" name="KategoriID">
                        @foreach (var ktg in Model)
                        {
                            <option value="@ktg.ID">
                                @ktg.Adi
                            </option>
                        }
                    </select>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

