﻿
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@section head{
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="/Content/Admin/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/Admin/assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/Content/Admin/assets/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/Content/Admin/assets/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="/Content/Admin/assets/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="/Content/Admin/assets/bootstrap-datetimepicker/css/datetimepicker.css" />
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
               Ürün Ekle
            </header>
            <div class="panel-body">
                <form role="form" action="/Admin/UrunEkle" method="post" class="form-horizontal tasi-form">
                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Ürün Adı</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" id="f-name" class="form-control" name="Adi">
                            <p class="help-block">Successfully done</p>
                        </div>
                    </div>  
                    <div class="form-group has-error">
                        <label class="col-lg-2 control-label">Açıklama</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" id="l-name" class="form-control" name="Aciklama">
                            <p class="help-block">Aha you gave a wrong info</p>
                        </div>
                    </div>
                    
                    <div class="form-group has-warning">
                        <label class="col-lg-2 control-label">Alış Fiyat</label>
                        <div class="col-lg-10">
                            <input type="text" class="spinner-input form-control" name="AlisFiyat">
                            <p class="help-block">Something went wrong</p>
                        </div>
                    </div>
                    <div class="form-group has-warning">
                        <label class="col-lg-2 control-label">Satış Fiyat</label>
                        <div class="col-lg-10">
                            <input type="text" class="spinner-input form-control" name="SatisFiyat">
                            <p class="help-block">Something went wrong</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">
                            Kategori:
                        </label>
                        <div class="col-lg-10">
                            <select class="form-control m-bot15" name="KategoriID">
                                @foreach (var Kategori in ViewBag.Kategoriler)
                                {
                                    <option value="@Kategori.ID">
                                        @Kategori.Adi
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">
                            Marka :
                        </label>
                        <div class="col-lg-10">
                            <select class="form-control m-bot15" name="MarkaID">
                                @foreach (var marka in ViewBag.Markalar)
                                {
                                    <option value="@marka.ID">
                                        @marka.Adi
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="control-label col-md-3">Son Kullanma Tarihi</label>
                        <div class="col-md-4">
                            <div data-date="2012-12-21T15:25:00Z" class="input-group date form_datetime-adv">
                                <input type="text" class="form-control" name="SonKullanmaTarihi" size="16">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-danger date-reset"><i class="icon-remove"></i></button>
                                    <button type="button" class="btn btn-warning date-set"><i class="icon-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>



